#second-p {
    color: green;
}

.first-class {
    color: red;
}

.second-class {
    font-size: 24px;
}

p.first-class.second-class {
    text-decoration: underline;
}

.container p {
    margin-left: 20px;
}

#third-p {
    color: violet !important;
}

input {
    transition-property: opacity;
    transition-duration: 1s;
}

input:focus {
    line-height: 3rem;
}

input:hover {
    opacity: 0;
}

li:nth-child(2n + 1) {
    color: brown;
}

/* li::before {
    content: "li ";
} */

li:nth-child(2n + 1)::marker {
    content: "🦭 ";
}
